/* Cores */

body {
    background-color: #f5f5f5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #212121;
}

a {
    color: #007bff;
    text-decoration: none;
}

/* Container */

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Títulos */

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

/* Seções */

.section {
    margin-bottom: 20px;
}

/* Listas */

ul {
    list-style: none;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* Imagens */

img {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Botões */

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* Animação */

* {
    transition: all 0.3s ease;
}
